.project-card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #393939;
  width: 200px;
  height: 300px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 4%;
  transition: all 0.2s ease-in-out;
}
.project-card-container:hover {
  cursor: pointer;
  background-color: #f3a525;
 
}
.project-card-container:hover .project-name-text {
  color: black;
}
.project-card-container:hover .project-tech-container-text {
  color: black;
}
.project-card-container:hover .project-description {
  color: black;
}
.project-name-text {
  color: white;
  margin-top: 15px;
  font-size: 0.8em;
  letter-spacing: 2px;
  font-weight: 300;
}
.project-tech-container-text {
  color: #6dc4b7;
  font-size: 0.7em;
  font-weight: 700;
  margin-top: 15px;
}
.project-description {
  margin-top: 20px;
  color: white;
  font-size: 0.8em;
  font-weight: 300;
}
#icon:hover{
  color:#f3a525
}
@media screen and (max-width: 500px) {
  .project-card-container{
    padding: 4%;
    padding-bottom: 2%;
    margin-bottom: 0.5%;
    width:38%;
  }
  .project-tech-container-text{
    font-weight: 500;
  }
}