.project-list-container {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  background-color: #242424;
  justify-content: flex-start;
  align-items: center;
}
.project-type-text {
  color: white;
  font-size: 40px;
  font-weight:700;
}
.project-type-desc {
  color: white;
  font-size: 22px;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 2%;
}
.project-cards-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
