.about-container {
  display: flex;
  flex-direction: row;
  background-color: #242424;
  padding: 1em;
}
.image-container {
  
  width: 100%;
  padding: 2%;
}
.info-container {
  margin-top: 5%;
  padding:3%;
}
.about-text {
  text-align: center;
  font-size: 50px;
  color: white;
  font-weight: 700;
}
@media screen and (max-width: 500px) {
  .image-container {
    display: none;
  }
  .about-text{
    text-align: center;
  }
  .about-container{
    padding: none;
  }
}
