.header-container {
  display: flex;
  flex-direction: "row";
  background-color: rgb(25, 25, 25);
  height: 100px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  color: #F3A525;
  font-size: 25px;
}
.links-container {
  display: flex;
  flex-direction: "row";
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
