.header-container {
  display: flex;
  flex-direction: "row";
  background-color: rgb(25, 25, 25);
  height: 60px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.header-link {
 color:#e5e5e5;
}
.header-link:hover{
  cursor: pointer;
  text-decoration: underline;
  color: #f3a525;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Archivo Black", sans-serif;
  color: #f3a525;
  font-size: 25px;
}
.links-container {
  display: flex;
  flex-direction: "row";
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (max-width: 500px) {
  .header-container{
    display:none;
  }
}